/* prefixes */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{ 
    background-image: linear-gradient(to bottom right, #4affde, #5b9dff, #d06bff, #ff34d2 100%);
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
}

@keyframes movingGradient {
    from {background-position: 0 0; }
    to {background-position: 100% 100% ;}
}


.button {
    background-color: transparent;
    color: black;
    font-size: 25px;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .menu {
      width: fit-content;
  }
  
  .links {
    display: none;
    position: absolute;
    background-color:white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    margin-left: 1rem;
  }
  
  .links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .links a:hover {
      background-color: black;
      color: white;
    }
  
  .menu:hover .links {
      display: block;
    }
  
  .menu:hover .button {
      background-color: white;
      color: black;
      box-shadow: 2px 2px 4px 0px;
    }

    h1{
        font-family: 'montserrat', sans-serif;
        font-size: 4rem;
        padding: 2%;
    }
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.2rem;
        padding: 2%;
    }
    h3{
        font-family: 'Montserrat', sans-serif;
        padding: 2%
    }
    p{
        padding-left: 2%;
        line-height: 1.5;
        max-width: 70ch;
    }
    
    
    header {
        height: 55vh;
     
        margin: 0 auto;
        position: relative;
        padding-top: 3rem;
    
        width: 100%;
    
    }
    
    header div {
        
        position: absolute;
        bottom: -4rem;
        padding-bottom: 1rem;    
        box-sizing: border-box; 
        margin: 0 0.5rem;
        padding-top: 3rem;
        color: white;
        text-align: center;
        height: 65vh;
        margin: 0 auto;
    }
    
    main { 
    
        background-color: #d06bff;
        padding: 0 0 2rem 0;
    }
    
    #intro-container {
        box-sizing: border-box;
        background-color: #d06bff ;
        margin: 6rem auto;
        padding: 2rem 2rem;
    }
    
    #intro-container div ul > li:nth-child(1) {
        list-style: "\2648 ";
        list-style-position: outside;
    }
    
    #intro-container div ul > li:nth-child(2) {
        list-style: "\2649 ";
        list-style-position: outside;
    }
    
    #intro-container div ul > li:nth-child(3) {
        list-style:  "\264A ";
        list-style-position: outside;
    }
    
    article:nth-child(2){
        box-sizing: border-box;
        padding: 0rem 2rem;   
        border-bottom: 0.2px solid darkgray; 
        margin: 2rem 0 0 0;  
    }
    
    article:nth-child(3){
        box-sizing: border-box;
        padding: 0rem 3rem;
        display: table;   
        margin: 3rem 0 0 0;   
    }
    
    article:nth-child(4){
        box-sizing: border-box;
        padding: 0rem 2rem;
        margin: 2rem 0 0 0;  
    }
    
    img {
        display: block;
        max-width: 100%;
        margin: 0 0 1.8rem 0;  
        box-sizing: border-box;
        filter: drop-shadow(2px 4px 8px #585858);
    }
    
    video {
        width: 100%;
        height: auto;
      }
    
    footer{
        width: 100%;
        background-color: darkgrey;
        clear: both;
        position: relative;
        height: 100px;
        color: white;
        text-align: center;
        }
        
    @media screen and (min-width: 600px) and (max-width: 960px) {
        body {
                font-size: 16px;
        }
        
        header {
                height: 65vh;
                margin: 0 auto;
        }
        
        header div {
            box-sizing: border-box;
            left: 7.5%;
            margin: 0 auto;
    
        }
        
        header div p {
            margin: 0 auto;
        }
        
        header div, main, footer {
            width: 85%;
        }
        
        main {
                margin: 2rem auto;
           }
        
           article {
            column-count: 2;
            column-width: auto;
        }
    
        article:nth-child(2) img {
            float: right;
        }
    
       
    
       
        article:nth-child(3) div {
            float: center;
            max-width: 100%;
        }
    
        article:nth-child(4) img {
            margin: auto;
            padding: auto;
        }
        
            #intro-container {
                background: linear-gradient(90deg,  #ff34d2 50%, #d06bff 50%);
                margin-bottom: 0;
                border-bottom: 0.1px solid darkgray;
    
            }     
        
            article:nth-child(3) {
                border-bottom: 0.1px solid darkgray;
            }
        
            footer {
                margin: 0 auto;
            }
        }
        
    
    @media screen and (min-width: 960px) and (max-width:2000px) {
        body {
            font-size: 24px;
        }
    
        main {
            margin: 2rem auto;
        }
    
        header div {
            margin: 0 auto;
            left: 15%;
            box-sizing: border-box;
            height: 65vh;
    
        }
    
        header div, main, footer {
            width: 70%;
        }
    
        article {
            column-count: 2;
            column-width: auto;
        }
    
        article:nth-child(2) img {
            float: right;
        }
    
        article:nth-child(3) {
            padding: 2rem 2rem;
            margin: auto;
        }
    
        article:nth-child(3) img {
            margin: auto;
            padding: auto;
            max-width: 100%;  
            float: center;
        }
    
        article:nth-child(3) div {
            float: center;
            max-width: 100%;
        }
    
        article:nth-child(4) img {
            margin: auto;
            padding: auto;
        }
    
        #intro-container {
            background: linear-gradient(90deg, #ff34d2 50%, #d06bff 50%);
            border-bottom: 0.1px solid darkgray;
            margin-bottom: 0;
        }     
    
        footer {
            margin: auto;
        }
    }
    